<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign-Up Complete</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="main-container">
    <h1>Thank you for signing up, <%= username %>!</h1>
    <a href="/" class="home-link">Go to Home</a>
  </div>
</body>
</html>