<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Swole Mate App</title>
  </head>
  <body>

    <h1>Swole Mate</h1>
<% if (user) { %>
  <p id="home-intro"><%= user.username %>'s workout tracker </p>
<% } else { %>
  <p id="home-intro">Your fitness & workout tracker </p>
  <% } %>

    <div class="image-container">
      <img
        src="/stylesheets/images/Swole Mate Logo.png"
        alt="Swole Mate App Logo"
      />
    </div>

    <p>An app for tracking your workouts.</p>

    <div>
      <nav>
        <ul>
          <li><a class="button is-primary" href="/gymWorkout">Browse Exercises</a></li>
            <%if (user) {%>
        <li><a class="button is-primary" href="/gymWorkout">My Gym Workouts</a></li>
        <li><a class="button is-primary" href="/fitnessGoals">Fitness Goals</a></li>
        <li><a class="button is-primary" href="/auth/sign-out">Sign out</a></li>
    
            <% } else { %>
      <p>
        <li><a class="auth-link" href="/auth/sign-up" >Create an Account</a></li> or 
        <li><a class="auth-link" href="/auth/sign-in" >Sign In</a></li> to view your workout plan
      </p> 
            <% } %>
        </ul>
    </nav>
  </div>
 
            <% if (!user) { %>
      <p><a class="auth-link" href="/gymWorkout">Browse exercises as a guest</a></p>
            <% } %>

  </body>

  <footer>
    Images by
    <a href="https://wallpapercat.com/gta-v-wallpapers">Insert Image Attribution Here</a>
  </footer>
  
</html>
