<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cars App</title>
  </head>
  <body>

    <h1>GTA Car Collection!</h1>
<% if (user) { %>
  <p id="home-intro"><%= user.username %>'s GTA Garage </p>
<% } else { %>
  <p id="home-intro">your GTA Garage </p>
  <% } %>

    <div class="image-container">
      <img
        src="/stylesheets/images/GTA-67-Shelby-GT500.jpg"
        alt="GTA Shelby GT500"
      />
    </div>

    <p>An app for collecting your favorite GTA cars.</p>

    <%if (user) {%>
     <nav>
      <ul>
        <li>
          <a class="cars-index-link" href="/cars">
          <div class="index-link-text">My Garage</div></a>
        </li>

        <li>
          <a class="cars-index-link" href="/gtav">
          <div class="index-link-text">Browse GTA V Vehicles</div></a>
      </li>
        
        <li> 
          <a class="cars-index-link" href="/auth/sign-out">
            <div class="index-link-text">Sign out</div></a> 
        </li>

      </ul>
    </nav>
  <% } else { %>
     <p>
      <a href="/auth/sign-up" class="auth-link">Create an Account</a> or 
      <a href="/auth/sign-in" class="auth-link">Sign In</a> to view your garage</p> 
    <% } %>
  </div>
 
  <% if (!user) { %>
    <p><a href="/gtav"class="auth-link">View GTA V Vehicles as a Guest</a></p>
  <% } %>

  </body>

  <footer>
    Images by
    <a href="https://wallpapercat.com/gta-v-wallpapers">Wallpaper Cat</a>
  </footer>
</html>
