<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cars App</title>
  </head>
  <body>
    <h1>GTA Car Collection!</h1>

    <div class="image-container">
      <img
        src="/stylesheets/images/GTA-67-Shelby-GT500.jpg"
        alt="GTA Shelby GT500"
      />
    </div>

    <p>An app for collecting your favorite GTA cars.</p>

    <!-- Browse Cars Link -->
    <a class="cars-index-link" href="/cars">
      <div class="index-link-text">Browse Cars</div>
    </a>
  </body>

  <footer>
    Images by
    <a href="https://wallpapercat.com/gta-v-wallpapers">Wallpaper Cat</a>
  </footer>
</html>
