<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Workout Templates</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title is-3">Workout Templates</h1>

        <h2 class="title is-4">Saved Exercise Groups</h2>

        <% if (groups.length) { %>
          <div class="columns is-multiline">
          <% groups.forEach(group => { %>
          <div class="column is-one-third">

        <!-- Exercise Groups UI -->
        <%- include("../partials/_workoutGroup.ejs", { workoutGroups, user, savedApiIds }) %>

        </div>
          <% }) %>
        </div>
        <% } else { %>
        <p>You haven’t created any groups yet.</p>
        <% } %>

        <div class="mt-5">
          <p><a href="/workoutTemplates/new" class="button is-small is-link">Create New Template</a></p>
        </div>
        <div class="mt-5">
          <a href="/" class="button is-light">← Back to Home</a>
        </div>
      </div>
    </section>
    <script src="/scripts/dragAndDrop.js" defer></script>
  </body>
</html>