<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-- header -->
    <h1>Edit <%= car.name %></h1>

    <form action="/cars/<%=car._id%>?_method=PUT" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= car.name %>" />

      <div class="checkbox-div">
        <label for="typeOfCar">Type of Car?</label>
        <input
          type="checkbox"
          name="typeOfCar"
          <%
          if(car.typeOfCar){%>checked<% } %> >
      </div>

      <!-- button -->
      <button type="submit">Update Car</button>
    </form>

    <a class="cars-index-link" href="/cars">
      <div class="index-link-text">Browse Cars</div>
    </a>

    <a class="home-link" href="/">
      <div class="home-link-text">Home</div>
    </a>
  </body>
</html>
