<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/scripts/livePreview.js"></script>

    <title>Create a New Vehicle</title>
  </head>

  <body>
    <div class="new-car-container">
      <h1 class="gta-title">Create a New Vehicle!</h1>

      <form class="car-entry-form" action="/cars" method="POST">
        <label for="Name">Vehicle Name:</label>
        <input type="text" name="Name" id="Name" required />

        <label for="DisplayName">Display Name:</label>
        <input
          type="text"
          name="DisplayName"
          id="DisplayName"
          required
          value="<%= displayName %>"
        />

        <!-- Regenerate Button -->
        <button id="regeneratePreview" type="button" class="inline-button">
          Regenerate Preview
        </button>

        <label for="Manufacturer">Manufacturer:</label>
        <input type="text" name="Manufacturer" id="Manufacturer" required />

        <label for="Class">Class:</label>
        <select name="Class" id="Class" required>
          <option value="" disabled selected>Select a Class</option>
          <option value="Super">SUPER</option>
          <option value="Sports">SPORTS</option>
          <option value="Muscle">MUSCLE</option>
          <option value="SUV">SUV</option>
          <option value="Sedan">SEDAN</option>
          <option value="Coupe">COUPE</option>
          <option value="Motorcycle">MOTORCYCLE</option>
          <option value="Off-Road">OFF-ROAD</option>
          <option value="Compact">COMPACT</option>
          <option value="Van">VAN</option>
          <option value="Military">MILITARY</option>
          <option value="Utility">UTILITY</option>
          <option value="Emergency">EMERGENCY</option>
        </select>

        <img
          id="imagePreview"
          src="<%= imageUrl || '/stylesheets/images/placeholder.jpg' %>"
          alt="Car Preview"
          style="max-width: 300px; display: block; margin: 1rem auto"
        />

        <input type="hidden" name="imageUrl" id="imageUrl" />

        <button class="submit-btn" type="submit">Add Vehicle</button>
      </form>

      <div class="nav-links">
        <a class="back-link" href="/cars/">My Garage</a>

        <a class="cars-index-link" href="/gtav">
          <div class="index-link-text">Browse GTA V Vehicles</div>
        </a>

        <a class="home-link" href="/">
          <div class="home-link-text">Home</div>
        </a>
      </div>
    </div>
  </body>
</html>
