<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create a New Car</title>
  </head>

  <body>
    <div class="new-car-container">
      <h1 class="gta-title">Create a New Car!</h1>

      <form class="car-entry-form" action="/cars" method="POST">
        <label for="name">Car Name:</label>
        <input type="text" name="name" id="name" required />

        <div class="checkbox-div">
          <label for="typeOfCar">Type of Car?</label>
          <input type="checkbox" name="typeOfCar" id="typeOfCar" />
        </div>

        <button class="submit-btn" type="submit">Add Car</button>
      </form>

      <div class="nav-links">
        <a class="back-link" href="/cars/">← Back to Cars</a>

        <!-- Browse GTAV Cars Link -->
        <a class="cars-index-link" href="/gtav/vehicles">
          <div class="index-link-text">Browse GTA V Vehicles</div>
        </a>
        <a class="home-link" href="/">
          <div class="home-link-text">Home</div>
        </a>
      </div>
    </div>
  </body>
</html>
